<h1>Password Generator</h1>

<!-- $event.target! - An exclamation sign means the possibility of null -->
<div>
  <label for="">Enter Length</label>
  <input class="input" (input)="onChangeLength($event.target!)" />
</div>

<div>
  <label for="">Use Letters</label>
  <input (change)="onChangeUseLetters()" type="checkbox" />
</div>

<div>
  <label for="">Use Numbers</label>
  <input (change)="onChangeUseNumbers()" type="checkbox" />
</div>

<div>
  <label for="">Use Symbols</label>
  <input (change)="onChangeUseSymbols()" type="checkbox" />
</div>


<div>
  <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))" 
  (click)="onButtonClick()">Generate!</button>
</div>

<div>
  <label for="">Your Password</label>
  <input [value]="password" />
</div>
